<div class="menu">
    <div class="menu__container container">
        <button class="menu__close js-menu-close">
            <svg class="menu__close-icon icon">
                <use xlink:href="{{ params.ASSETS ~ '#close' }}"></use>
            </svg>
        </button>
        <div class="menu__logo">
            <a href="{{ result.SITE_DIR }}" class="logo">
                <img src="{{ result.LOGO_SRC }}" alt="Federal Center for Educational Legislation" class="logo__image">
            </a>
        </div>
        <div class="menu__wrapper">
            <ul class="menu__list">
                {% for navItemKey, navItem in result.MENU_STRUCTURE %}
                    <li class="menu__item menu__item_lvl-1">
                        <a href="{{ result.ALL_ITEMS[navItemKey].LINK }}" class="menu__link menu__link--title">{{ result.ALL_ITEMS[navItemKey].TEXT }}</a>
                        {% if navItem[1] is iterable %}
                            <ul class="menu__list">
                                {% for navItemLvlKey, navItemLvl in navItem[1] %}
                                    <li class="menu__item">
                                        <a href="{{ result.ALL_ITEMS[navItemLvlKey].LINK }}" class="menu__link">
                                            {{ result.ALL_ITEMS[navItemLvlKey].TEXT }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
