<section class="card {{ params.DATA_TYPE == 'DOC' ? 'card--documents' }}">
	<div class="card__headline">
		<div class="card__title">
			<a href="{{ params.LIST_PAGE_URL }}" class="card__title-link">{{ params.TITLE }}</a>
		</div>
		<div class="card__pagination"></div>
	</div>
	<div class="card__content">
		<div class="card__list swiper-container">
			<div class="card__list-wrapper swiper-wrapper">
				{% for listRow in result.ITEMS|batch(5) %}
					<div class="card__list-item">
						{% for listItem in listRow %}
							<article class="article-short-preview">
								<div class="article-short-preview__title">!!!{{ listItem.PROPERTIES.DOCUMENT_TYPE.VALUE ~ '<br />' ~ listItem.PROPERTIES.CREATOR.VALUE ~ '<br />' ~ listItem.PROPERTIES.DATE_NUM_DOC.VALUE }}</div>
								<div class="article-short-preview__description">{{ listItem.PREVIEW_TEXT }}</div>
								<div class="article-short-preview__bottom">
									<time class="article-short-preview__time">(Документ опубликован {{ listItem.PROPERTIES.PUBLICATION_DATE.VALUE|date('d M Y', "Europe/Moscow") }} г.)</time>
								</div>
								<a href="{{ listItem.PROPERTIES.LINK.VALUE }}" class="article-short-preview__link"></a>
							</article>
						{% endfor %}
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
</section>
