<div class="search-result">
	{% if result.ITEMS is not empty %}
		<div class="search-result__col faq-page__col--left">
			<div class="search-result__wrap">
				<div class="search-result__list">
					{% for item in result.ITEMS %}
						<a href="{{ item.DETAIL_PAGE_URL }}" class="search-result__item">
							<div class="search-result__item-title">{{ item.PREVIEW_TEXT }}</div>
							<div class="search-result__item-description"></div>
							<div class="search-result__item-wrapper">
								<div class="search-result__item-time">
									{% if item.DATE_CHANGE %}
										<time class="article-short-preview__time">
											Ответ дан по состоянию на {{ item.DATE_CHANGE }} г.
										</time>
									{% endif %}
								</div>
								<div class="article-short-preview__rubric{{ ' article-short-preview__rubric--' ~ item.PROPERTIES.RUBRIC.VALUE }}">
									<svg class="article-short-preview__rubric-icon icon">
										<use xlink:href="{{'/local/build/icons/sprite.svg#clr_' ~ item.PROPERTIES.RUBRIC.VALUE }}"></use>
									</svg>
									<span class="article-short-preview__rubric-text">{{ item.DISPLAY_PROPERTIES.RUBRIC.DISPLAY_VALUE }}</span>
								</div>
							</div>
						</a>
					{% endfor %}
				</div>
				{% if result.NavPageNomer is not null %}
					<div class="search-result__pagination">
						<div class="pagination">
							<a href="{{ result.URL ~ '&' ~ result.NAV_RESULT.NavQueryString ~ 'PAGEN_' ~ result.NAV_RESULT.NavNum ~ '=' ~ (result.NAV_RESULT.NavPageNomer - 1) }}" class="pagination__prev">
								<svg class="pagination__icon icon">
									<use xlink:href="{{ params.ASSETS }}#arrow_left"></use>
								</svg>
							</a>
							{% for i in result.NAV_RESULT.nStartPage..result.NAV_RESULT.nEndPage %}
								<a href="{{ result.URL ~ '&' ~ result.NAV_RESULT.NavQueryString ~ 'PAGEN_' ~ result.NAV_RESULT.NavNum ~ '=' ~ i }}" class="pagination__item{{ result.NAV_RESULT.NavPageNomer == i ? ' pagination__item_is-current' }}">{{ i }}</a>
							{% endfor %}
							<a href="{{ result.URL ~ '&' ~ result.NAV_RESULT.NavQueryString ~ 'PAGEN_' ~ result.NAV_RESULT.NavNum ~ '=' ~ (result.NAV_RESULT.NavPageNomer + 1) }}" class="pagination__next">
								<svg class="pagination__icon icon">
									<use xlink:href="{{ params.ASSETS }}#arrow_right"></use>
								</svg>
							</a>
						</div>
					</div>
				{% endif %}
			</div>
		</div>
		<div class="search-result__col search-result__col--right">
			<div class="search-result__wrap">
			{% if result.RUBRICS is not empty %}
				<form action="{{ result.FORM_ACTION }}" class="search-form js-search-form-filter">
					{# <input type="text" name="q" value="{{ result.REQUEST.QUERY }}" hidden/> #}
					{# <input type="text" name="ajax" value="Y" hidden/> #}
					<div class="search-form__title">Рубрики:</div>
					<ul class="search-form-rubrics">
						{% for rubric in result.RUBRICS %}
							<li class="search-form-rubrics__item">
								<input class="search-form-rubrics__checkbox checkbox" id="{{ rubric.ID }}" data-xml-id="{{ rubric.XML_ID }}" name="search_filter[{{ rubric.XML_ID }}]" type="checkbox" value="" {% if rubric.XML_ID in params.FILTER|keys %} checked {% endif %}>
								<label for="{{ rubric.ID }}">
									<span>{{ rubric.NAME }}</span>
								</label>
							</li>
						{% endfor %}
					</ul>
					<button class="search-form__btn-reset" type="reset" onclick="this.form.reset();">Сбросить</button>
				</form>
			{% endif %}
			</div>
			
			
			<div class="right-side-banners">
				<div class="right-side-banners__item">					
					<picture class="right-side-banners__picture">
						<img src="/upload/images/regulations.png" class="right-side-banners__img" alt="">
						<img src="/upload/images/documents.svg" class="right-side-banners__icon" alt="">
					</picture>
					<div class="right-side-banners__title">База нормативно-правовых актов</div>
					<a href="#" class="right-side-banners__link"></a>
				</div>
				<div class="right-side-banners__item">					
					<picture class="right-side-banners__picture">
						<img src="/upload/images/judicial-acts.png" class="right-side-banners__img" alt="">
						<img src="/upload/images/legal-scale.svg" class="right-side-banners__icon" alt="">
					</picture>
					<div class="right-side-banners__title">База судебных актов</div>
					<a href="#" class="right-side-banners__link"></a>
				</div>
				<div class="right-side-banners__item">					
					<picture class="right-side-banners__picture">
						<img src="/upload/images/questions-answers.png" class="right-side-banners__img" alt="">
						<img src="/upload/images/question.svg" class="right-side-banners__icon" alt="">
					</picture>
					<div class="right-side-banners__title">База вопросов и ответов</div>
					<a href="#" class="right-side-banners__link"></a>
				</div>
			</div>
		</div>
	{% endif %}
</div>
