<section class="card card--articles">
	<div class="card__headline">
		<div class="card__title">
			<a href="{{ params.LIST_PAGE_URL }}" class="card__title-link">{{ params.TITLE }}</a>
		</div>
		<div class="card__pagination"></div>
	</div>
	<div class="card__content">
		<div class="card__list swiper-container">
			<div class="card__list-wrapper swiper-wrapper">
				{% for listRow in result.ITEMS|batch(1) %}
					<div class="card__list-item">
						{% for listItem in listRow %}
							<article class="article-short-preview">
								{% if listItem.PREVIEW_PICTURE.SRC %}
									<picture class="article-short-preview__picture">
										<img src="{{ listItem.PREVIEW_PICTURE.SRC }}" class="article-short-preview__img" alt="{{ listItem.PREVIEW_PICTURE.ALT }}">
									</picture>
								{% endif %}
								<div class="article-short-preview__title">{{ listItem.NAME }}</div>
								<div class="article-short-preview__description">{{ listItem.PREVIEW_TEXT[:200] }}{{ (listItem.PREVIEW_TEXT|length > 200) ? '...' }}</div>
								<div class="article-short-preview__bottom">
									<time class="article-short-preview__time">{{ listItem.ACTIVE_FROM|date('d M Y', "Europe/Moscow") }} г.</time>
								</div>
								<a href="{{ listItem.DETAIL_PAGE_URL }}" class="article-short-preview__link"></a>
							</article>
						{% endfor %}
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
</section>
